<h1>User details</h1>

<pre>
<strong>Username  : </strong><%=@user.username%>
<strong>First Name: </strong><%=@user.first_name%>
<strong>Last Name : </strong><%=@user.last_name%>
<strong>Email-id  : </strong><%=@user.email%>
<strong>Age       : </strong><%=@user.age%>
</pre>

<%= link_to "Edit this user", edit_user_path %>
<%= link_to "Delete", user_path(@user), method: :delete, data:{turbo_method: :delete} %>
<% if @user.id==1%>
    <%= link_to "View all users", users_path %>
<% end%>

<h1>User Articles details</h1>
<% curr_user = current_user %>
<% @articles = curr_user.articles %>


<%= render "articles/article" %>
<p>
    <%= link_to "Create new article", new_article_path%><br>
    <%= link_to "View all articles", articles_path %>
</p>

