<h1>Article details</h1>

<pre>
<strong>Username  : </strong><%=@user.username%>
<strong>First Name: </strong><%=@user.first_name%>
<strong>Last Name : </strong><%=@user.last_name%>
<strong>Email-id  : </strong><%=@user.email%>
<strong>Age       : </strong><%=@user.age%>
</pre>

<%= link_to "Edit this user", edit_user_path %>
<%= link_to "Delete", user_path(@user), method: :delete, data:{turbo_method: :delete} %>
<%= link_to "Back to users listing", users_path %>