<% if @items.first.nil?%>
<p>No Item uploaded by you<p>
<% else %>
    <table>
    <caption></caption>
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Seller</th>
                <th colspan=3>Action</th>
            </tr>
        </thead>

        <tbody>
            <% @items.each do |item| %>
            <tr>
                <% seller = Seller.find(item.seller_id)%>
                <td><%= item.title %></td>
                <td><%= item.description %></td>
                <td><%= "#{seller.first_name} #{seller.last_name}" %></td>
                <% if current_seller.nil? == false and seller.id==current_seller.id%>
                    <td><%= link_to "Show", item_path(item)%>
                    <td><%= link_to "Edit", edit_item_path(item), method: edit_item_path(item)%>
                    <td><%= link_to "Delete", item_path(item), method: :delete, data:{turbo_method: :delete}%></td>
                <% else %>                    
                    <td colspan = 3><%= link_to "Show", item_path(item)%>
                <% end %>
                
                <%if current_bidder.nil? == false and item.bidder_id != current_bidder.id and item.status == "sell" %>
                    <td><%= link_to "Place a bid", place_bid_path(item), method: "get"%>
                <% end %>
            </tr>
            <% end %>
        </tbody>

    </table>

    <%= will_paginate @items %>
<% end %>